

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 1920px;
    height: 0;
    background: #e8975c;
    z-index: 10;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.submenu.open {
    animation: openSubBoardMenu 0.25s ease-out forwards;
}

/*Nav sub 리스트들*/
.sub-board-title {
    width: 80px;
    display: flex;
    flex-direction: column;
    margin: 20px 40px 0 40px;
}

.sub-board-title p {
    font-size: 13px;
    font-weight: bold;
}


/*sub메뉴 슬라이드 애니메이션*/
@keyframes openSubBoardMenu {
    from {height: 0;}
    to {height: 70px;}
}

/*구분선*/
.board-divider-pre {
    display: flex;
    align-items: center;
}

.board-divider{
    width: 2px;
    height: 30px;
    background-color: black;
    margin: 0 20px;
}