.drink-submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 1920px;
    height: 0;
    background: #e8975c;
    z-index: 10;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.drink-submenu.open {
    animation: openSubDrinkMenu 0.25s ease-out forwards;
}

/*Nav sub 리스트들*/
.sub-drink-title {
    width: 120px;
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0 20px;
}
.sub-drink-title p {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
}
.sub-drink-list li{
    font-size: 12px;
    margin: 5px 0;
}

/*구분선*/
.drink-divider-pre {
    display: flex;
    align-items: center;
}
/*구분선의 길이*/
.drink-divider {
    width: 2px;
    height: 160px;
    background-color: black;
    margin: 0 20px;
}

/*sub메뉴 슬라이드 애니메이션*/
@keyframes openSubDrinkMenu {
    from {height: 0;}
    to {height: 250px;}
}