/*부트스트랩을 사용하기 위한 import*/
@import 'bootstrap/dist/css/bootstrap.min.css';

/*기타 css 파일 import*/
@import './Home.css';
@import './carousels.css';
@import './Nav.css';
@import './test.css';
@import './SubMenu.css';

* {
    /*margin: 0;*/
    /*padding: 0;*/
    /*border: 0;*/
    box-sizing: border-box;
}

html, body, #root, .App {
    margin: 0;
    padding: 0;
    overflow-x: auto;
}

.Layout {
    width: 100%;
    /* 헤더의 높이를 원하는 대로 설정 */
    /*height: 100%; !* 예시 값 *!*/
}


ul,li,ol {
    margin:0;
    padding:0;
    /*list-style-type:none;*/
    list-style:none;
}
