/*부트스트랩을 사용하기 위한 import*/
@import 'bootstrap/dist/css/bootstrap.min.css';

/*기타 css 파일 import*/
@import './Home.css';
@import './carousels.css';
@import './Nav.css';
@import './test.css';
@import './SubMenu/SubDrink.css';
@import './SubMenu/SubGlass.css';
@import './SubMenu/SubBoard.css';

ul,li,ol {
    margin:0;
    padding:0;
    /*list-style-type:none;*/
    list-style:none;
}
