.Home {
    width: 1920px;
    height: 100vh;
}

.notice {
    width: 100%;
    height: 40px;
    background-color: #fba9a9;
}

.nav {
    width: 100%;
    height: 100px;
    background: #afff9b;
}

.main {
    width: 100%;
    height: 847px;
    background: #c0eeff;
}

.mainCarousel {
    width: 1920px;
    height: 500px;
    background: #fbc6eb;
    display: flex;
    justify-content: center;
}

.footer {
    width: 100%;
    height: 50px;
    background: #ff9ae2;
}