.Home {
    width: 100%;
    height: 100vh;
}

.home-icon {
    width: 4.3vw;
    height: 7vh;
    position: absolute;
    top: 1%;
    left: 25%;
    cursor: pointer;
    z-index: 1000;
}

.main {
    width: 100%;
    height: 90%;
    background: #f4cece;
}

.mainCarousel {
    width: 100%;
    height: 60%;
}

.footer {
    width: 100%;
    height: 7%;
    background: #ff9ae2;
}