.home-navbar {
    width: 100%;
    height: 14vh;
    position: relative;
    background-color: #4a4e59;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Nav 리스트*/
.home-navbar > ul {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 10%;
    color: white;
}

.home-navbar > ul > li {
    font-size: 1.1rem;
    cursor: pointer;
    width: 100px;
    margin: 0 5%;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-hover {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7e7198;
}